[Desktop Entry]
GenericName=Database
GenericName[de]=Datenbanken
GenericName[fr]=Bases de données
Name=Libre Office Base
Version=1.0
Terminal=false
Icon=libreoffice-base
Type=Application
Categories=Office;
Exec=libreoffice --base %U
MimeType=application/vnd.oasis.opendocument.database;application/vnd.sun.xml.base;
StartupNotify=true
X-GIO-NoFuse=true
Keywords=Data;SQL;
InitialPreference=5
X-Ayatana-Desktop-Shortcuts=X-New
StartupWMClass=libreoffice-base
X-KDE-Protocols=file,http,smb,ftp,webdav
[X-New Shortcut Group]
UnityQuicklist=New Database
Exec=libreoffice --base %U
TargetEnvironment=Unity
TryExec=oobase
