[Desktop Entry]
GenericName=Electronic Mail
GenericName[de]=Elektronische Post
GenericName[fr]=Courrier électronique
Name=Mozilla Thunderbird
Version=1.0
Exec=thunderbird %u
TryExec=thunderbird
Icon=thunderbird
Terminal=false
Type=Application
MimeType=message/rfc822;x-scheme-handler/mailto;
StartupNotify=true
Categories=Network;
